@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-blue: #001970;
  --color-secondary-blue: #155DFC;
  --color-gray: #8A8A8A;
  --color-orange: #E8911F;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-bg {
  background-image: url('/img/hero.jpg');
  height: 615px;
  background-size: cover;
  background-position: center;
}

@layer utilities {
  .text-title {
    @apply text-[2rem] leading-9 font-extrabold md:text-[4rem] lg:leading-[4.375rem] tracking-normal;
  }

  .text-subtitle {
    @apply text-[1.5rem] leading-[1.875rem] font-semibold md:text-[2.25rem] lg:leading-10 tracking-normal;
  }

  .text-features {
    @apply text-[1.25rem] leading-[1.375rem] font-bold md:text-[1.5rem] lg:leading-[1.875rem] tracking-normal;
  }

  .text-body {
    @apply text-[1rem] leading-[1.125rem] font-medium tracking-normal;
  }

  .text-button {
    @apply text-[1rem] leading-[1.125rem] font-bold md:text-[1.25rem] lg:leading-[1.5rem] tracking-normal;
  }
}
