@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-blue: #001970;
  --color-secondary-blue: #155DFC;
  --color-gray: #8A8A8A;
  --color-orange: #E8911F;
  --color-blue-light: #F1FAFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-bg {
  background-image: url('/img/hero.jpg');
  height: 615px;
  background-size: cover;
  background-position: center;
}

.about-bg{
  background-image: url('/img/about.jpg');
  height: 680px;
  background-size: cover;
  background-position: center;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #1976d2 #e3eafc; /* thumb color, track color */
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  background: #e3eafc; /* track color */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1976d2; /* thumb color */
  border-radius: 8px;
}

@media (max-width: 768px) {
  .about-bg {
    background-image: url('/img/about-mobile.jpg');
    height: 350px;
  }
}

@layer utilities {
  .text-title {
    @apply tracking-normal font-extrabold text-[2rem] leading-9 lg:text-[4rem] lg:leading-[4.375rem];
  }

  .text-subtitle {
    @apply tracking-normal font-semibold text-3xl leading-6 lg:text-4xl lg:leading-10;
  }

  .text-features {
    @apply tracking-normal font-bold text-xl leading-[1.375rem] lg:text-2xl lg:leading-[1.875rem];
  }

  .text-body {
    @apply tracking-normal font-medium text-[1rem] leading-[1.125rem] lg:text-xl lg:leading-6;
  }

  .text-body-secondary {
    @apply tracking-normal font-medium text-[1rem] leading-[1.125rem]
  }

  .text-button {
    @apply tracking-normal font-bold text-[1rem] leading-[1.125rem] lg:text-xl lg:leading-6
  }

  .text-small {
    @apply tracking-normal text-sm font-medium leading-[1rem];
  }
}